node-red-flow.json
[
    {
        "id": "3d79cb2537c9de6f",
        "type": "tab",
        "label": "Medibox Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ec4d49af5f1b16f",
        "type": "mqtt in",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "topic": "ENTC-ADMIN-LIGHT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cd3fc9124d0bf700",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "2b187dcf689d0be0",
                "db3f203a6556b33d",
                "f72f49889467fb74"
            ]
        ]
    },
    {
        "id": "2b187dcf689d0be0",
        "type": "ui_gauge",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "group": "61e8078d3be514a1",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "Value",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#002db3",
            "#7b82ff",
            "#ffb300"
        ],
        "seg1": ".3",
        "seg2": ".7",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "db3f203a6556b33d",
        "type": "ui_chart",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "group": "61e8078d3be514a1",
        "order": 3,
        "width": "0",
        "height": "6",
        "label": "Light Intensity History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Waiting for data...",
        "dot": true,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "767af6ac1fb31f10",
        "type": "ui_switch",
        "z": "3d79cb2537c9de6f",
        "name": "Main Switch ",
        "label": "POWER",
        "tooltip": "Turn system on/off",
        "group": "ca7f69b31543cd26",
        "order": 0,
        "width": "6",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "fa-power-off",
        "oncolor": "#3fb53f",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "fa-power-off",
        "offcolor": "#ca3838",
        "animate": true,
        "className": "",
        "x": 690,
        "y": 40,
        "wires": [
            [
                "a30ed234d0c4a89f"
            ]
        ]
    },
    {
        "id": "a30ed234d0c4a89f",
        "type": "mqtt out",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "topic": "ENTC-ADMIN-MAIN-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "3775160cd2cd510a",
        "type": "ui_slider",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "label": "Upload Interval (s)",
        "tooltip": "Set time between data uploads",
        "group": "61e8078d3be514a1",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "300",
        "step": "30",
        "className": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "82a3b3d333e81971"
            ]
        ]
    },
    {
        "id": "f9bf2e3cfe12a944",
        "type": "ui_slider",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "label": "Sampling Interval (s)",
        "tooltip": "Set time between readings",
        "group": "61e8078d3be514a1",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "c8da23a46afb4464"
            ]
        ]
    },
    {
        "id": "5639e5832ce0b320",
        "type": "mqtt out",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "topic": "ENTC-ADMIN-LIGHT-Tu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "82a3b3d333e81971",
        "type": "change",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tu",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "5639e5832ce0b320"
            ]
        ]
    },
    {
        "id": "c8da23a46afb4464",
        "type": "change",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ts",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "93c29a6ae5736c54"
            ]
        ]
    },
    {
        "id": "93c29a6ae5736c54",
        "type": "mqtt out",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "topic": "ENTC-ADMIN-LIGHT-Ts",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "f72f49889467fb74",
        "type": "ui_text",
        "z": "3d79cb2537c9de6f",
        "group": "61e8078d3be514a1",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Light Intensity:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 18,
        "color": "#0070c0",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "197989c905305190",
        "type": "ui_slider",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "label": "theta_offset",
        "tooltip": "Set theta offset value",
        "group": "2d6c059c678b3e4a",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "ef0207e098e1948e"
            ]
        ]
    },
    {
        "id": "14debe39b6290c04",
        "type": "ui_slider",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "label": "Gamma",
        "tooltip": "Set gamma value",
        "group": "2d6c059c678b3e4a",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "51ebca2ff9bbe568"
            ]
        ]
    },
    {
        "id": "46aac83db01c9b77",
        "type": "ui_slider",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "label": "Medium Temperature (°C)",
        "tooltip": "Set target medium temperature",
        "group": "2d6c059c678b3e4a",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "a6cb0e06c1c9c331"
            ]
        ]
    },
    {
        "id": "ef0207e098e1948e",
        "type": "change",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "theta_offset",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "99598aa02c0c4128"
            ]
        ]
    },
    {
        "id": "51ebca2ff9bbe568",
        "type": "change",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gamma",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "e3e3b3981fb23623"
            ]
        ]
    },
    {
        "id": "a6cb0e06c1c9c331",
        "type": "change",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tmed",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 540,
        "wires": [
            [
                "4acd6a3a594bb9ef"
            ]
        ]
    },
    {
        "id": "99598aa02c0c4128",
        "type": "mqtt out",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "topic": "medibox/theta_offset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "e3e3b3981fb23623",
        "type": "mqtt out",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "topic": "medibox/gamma",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "4acd6a3a594bb9ef",
        "type": "mqtt out",
        "z": "3d79cb2537c9de6f",
        "name": "",
        "topic": "medibox/tmed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 540,
        "y": 540,
        "wires": []
    },
    {
        "id": "cd3fc9124d0bf700",
        "type": "mqtt-broker",
        "name": "MediBox MQTT Broker",
        "broker": "https://test.mosquitto.org/",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "61e8078d3be514a1",
        "type": "ui_group",
        "name": "Light Monitoring",
        "tab": "7eb8f311768645c2",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca7f69b31543cd26",
        "type": "ui_group",
        "name": "Main Control",
        "tab": "7eb8f311768645c2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d6c059c678b3e4a",
        "type": "ui_group",
        "name": "Medicine Parameters",
        "tab": "7eb8f311768645c2",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7eb8f311768645c2",
        "type": "ui_tab",
        "name": "Medibox Control Panel",
        "icon": "fa-medkit",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a8f032c5d2a4f1e0",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#cccccc",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#4B7930",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Medibox Control Interface",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    }
]